.feedback-fieldset__input-icon {
  flex-shrink: 0;
  height: 58px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $input-field-icon-background-color;
}
