.intro__main-photo-text--catalog {
  top: 50px;
}

@media (min-width: $tablet-width) {
  .intro__main-photo-text--catalog {
    top: 94px;
  }
}

@media (min-width: $desktop-width) {
  .intro__main-photo-text--catalog {
    top: 101px;
  }
}
