.photo__author {
  font-size: 14px;
  line-height: 24px;
  color: $secondary-color;
  margin-top: 1px;
  margin-bottom: 0;
}

@media (min-width: $desktop-width) {
  .photo__author {
    color: $inverted-color;
  }
}
