.intro__main-photo--form {
  object-fit: none;
  object-position: 0 -56px;
  height: 158px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .intro__main-photo--form {
    object-fit: none;
    height: 289px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .intro__main-photo--form {
    object-fit: none;
    height: 301px;
    width: 100%;
  }
}
