.video__button--subtitles {
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  padding-left: 18px;
}

@media (min-width: $tablet-width) {
  .video__button--subtitles {
    margin-right: 16px;
    margin-bottom: 2px;
  }

  .video__button--subtitles svg {
    flex-shrink: 0;
  }
}
