.feedback-fieldset__input-wrapper--radio {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 58px;
  margin-top: 12px;
}

@media (min-width: $tablet-width) {
  .feedback-fieldset__input-wrapper--radio {
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-fieldset__input-wrapper--radio {
    margin-left: 62px;
  }
}
