.video__button--fullscreen {
  grid-row: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

@media (min-width: $tablet-width) {
  .video__button--fullscreen {
    margin-right: 20px;
    margin-bottom: 2px;
  }
}
