.feedback-fieldset__list--attractions {
  margin-top: 0;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .feedback-fieldset__list--attractions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-fieldset__list--attractions {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
