.intro--catalog {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .intro--catalog {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro--catalog {
    padding-bottom: 23px;
  }
}
